body {
    background: #D7D7D7;
}

form {
    width: 500px;
    background: #333;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid black;
    border-radius: 10px;
}

label {
    color: #52555e;
}

.form-check-label {
    color: white
}

.form-check {
    margin-left: 2%;
}

.vk_allow_messages_from_community {
    margin-left: 50%;
}

.auth {
    width: 250px;
}

.reg {
    width: 250px;
}

.buttons {
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    color: white;
}

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    width: 100%; /* Ширина слоя */
    border-radius: 15px;
}

.error_al {
    border: 2px solid black;
    border-radius: 16px;
}
