{% extends "main_page.html" %}

{% block content %}

    <h1>Создайте тест!</h1>
        <form action="" method="post" novalidate class="row g-3">

            <div class="form-floating">
                {% for i in range(kolvo) %}
                    <input type="text" name="question={{i}}" class="form-control">
                    <input type="text" name="true_answer={{i}}" class="form-control">
                    <input type="text" name="answer2={{i}}" class="form-control">
                    <input type="text" name="answer3={{i}}" class="form-control">
                    <input type="text" name="answer4={{i}}" class="form-control">
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-dark" style="margin-left: 20px; width: 150px; margin-bottom: 10px">Добавить</button>
        </form>


{% endblock %}