{% extends "main_page.html" %}

{% block content %}

    <h1>Редактирование домашнего задания</h1>
    <div class="add_hw">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% if form.text.errors %}
                <p>{{ form.text(class="form-control", role="alert", class="alert alert-danger",
                    style="width: 800px; margin-left: 30px; margin-top: 40px;") }}</p>
            {% else %}
                <p>{{ form.text(class="form-control", role="alert", class="alert alert-secondary",
                    style="width: 800px; margin-left: 30px; margin-top: 40px;") }}</p>
            {% endif %}
            <p>{{ form.submit(class="btn btn-dark form-control", type="submit",
                id="button-addon1", style="margin-left: 5px margin-top: 5px; margin-bottom: 5px; width: 400px;") }}</p>
        </form>
    </div>
{% endblock %}