{% extends "base_reg_auth.html" %}

{% block content %}
    <div class="buttons">
        <button type="button" class="reg btn btn-secondary" disabled>Регистрация</button>
        <a href="http://https://test.magnumopusproject.xyz/authorize">
            <button type="button" class="auth btn btn-dark btn-lg">Вход</button>
        </a>
    </div>
    <form action="" method="post" novalidate class="row g-3">
            {{ form.hidden_tag() }}
            <div class="col-md-6 form-floating">
                {% if not form.name.errors %}
                    {{ form.name(class="form-control alert alert-dark", placeholder="Иван", role="alert", id="floatingInput") }}
                    <label for="floatingInput">Имя</label>
                {% else %}
                    {{ form.name(class="form-control alert alert-danger", placeholder="Иван", role="alert", id="floatingInput") }}
                    <label for="floatingInput">Имя</label>
                {% endif %}
            </div>
            <div class="col-md-6 form-floating">
                {% if not form.surname.errors %}
                    {{ form.surname(class="form-control alert alert-dark", placeholder="Иванов", role="alert", id="floatingInput") }}
                    <label for="floatingInput">Фамилия</label>
                {% else %}
                    {{ form.surname(class="form-control alert alert-danger", placeholder="Иванов", role="alert", id="floatingInput") }}
                    <label for="floatingInput">Фамилия</label>
                {% endif %}
            </div>
            <div class="form-floating">
                {% if not form.login.errors %}
                    {% if message == "Такой логин уже существует!" %}
                        {{ form.login(class="form-control alert alert-danger", placeholder="AnsterdDreg", role="alert", id="floatingInput") }}
                        <label for="floatingInput">Такой логин уже существует! Придумайте новый</label>
                    {% else %}
                        {{ form.login(class="form-control alert alert-dark", placeholder="AnsterdDreg", role="alert", id="floatingInput") }}
                        <label for="floatingInput">Login</label>
                    {% endif %}
                {% else %}
                    {{ form.login(class="form-control alert alert-danger", placeholder="AnsterdDreg", role="alert", id="floatingInput") }}
                    <label for="floatingInput">Login</label>
                {% endif %}
            </div>
            <div class="form-floating">
                {% if not form.password.errors %}
                    {{ form.password(class="form-control alert alert-dark", type="password", placeholder="safety_password", role="alert", id="floatingInput") }}
                    <label for="floatingInput">Пароль</label>
                {% else %}
                    {{ form.password(class="form-control alert alert-danger", type="password", placeholder="safety_password", role="alert", id="floatingInput") }}
                    <label for="floatingInput">Пароль</label>
                {% endif %}
            </div>
            <div class="form-floating">
                {% if not form.repeat_password.errors %}
                    {% if message == "Пароли не совпадают" %}
                        {{ form.repeat_password(class="form-control alert alert-danger", type="password", placeholder="Подтвердите пароль", role="alert", id="floatingPassword") }}
                        <label for="floatingPassword">Пароли не совпадают</label>
                    {% else %}
                        {{ form.repeat_password(class="form-control alert alert-dark", type="password", placeholder="Подтвердите пароль", role="alert", id="floatingPassword") }}
                        <label for="floatingPassword">Подтвердите пароль</label>
                    {% endif %}
                {% else %}
                    {{ form.repeat_password(class="form-control alert alert-danger", type="password", placeholder="Подтвердите пароль", role="alert", id="floatingPassword") }}
                    <label for="floatingPassword">Подтвердите пароль</label>
                {% endif %}
            </div>
            <div class="form-check form-switch">
                {{ form.teacher(class="form-check-input", type="checkbox", id="flexSwitchCheckDefault") }}
                <label class="form-check-label" for="flexSwitchCheckDefault">Я учитель</label>
            </div>
            <p>{{ form.submit(type="submit", class="btn btn-light") }}</p>
    </form>
    {% if message == "Введите настоящую фамилию и имя!" %}
        <div id="footer">
            <div class="alert alert-primary error_al" role="alert">
                Введите настоящую фамилию и имя!
            </div>
        </div>
    {% endif %}

{% endblock %}
