{% extends "main_page.html" %}

{% block content %}
    {% if not edit %}
        <a href="/main_page"><button class="navbar-brand btn btn-dark">Назад</button></a>
        <div class="dropdown" style="margin-left: 20px; margin-top: 30px">
            <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button"
               id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Классы
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for i in classes %}
                    <li><a class="dropdown-item" href={{i[1]}}>{{i[0]}}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if edit %}
        <a href="/marks"><button class="navbar-brand btn btn-dark">Назад</button></a>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
            {% for i in dates %}
                <th scope="col">{{ i }}</th>
            {% endfor %}
                </tr>
            </thead>
            <tbody>
                    {% for key, val in marks.items() %}
                        <tr>
                            <th scope="row">{{ key }}</th>
                            {% for d in range((dates | length)) %}
                                {% set ns = namespace(found=false) %}
                                {% set ns.found = False %}
                                {% for j in val %}
                                    {% if "sr_ball" in j and dates[d] == "Средний балл" %}
                                        <td>{{ j["sr_ball"] }}</td>
                                    {% else %}
                                        {% if j["date"] == dates[d] %}
                                            {% set ns.found = True %}
                                            <td><a href={{j["id"]}}>{{ j["mark"] }}</a></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if dates[d] != "Фамилия" and not ns.found and dates[d] != "Средний балл"%}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        {% if not marks %}
            <h2>Журнал пуст! Добавьте оценки!</h2>
        {% endif %}
        <a href={{class_id}}><button class="btn btn-dark" style="margin-left: 20px">Добавить</button></a>
    {% endif %}

{% endblock %}