{% extends "main_page.html" %}

{% block content %}
    {% if table %}
        <a href="/main_page"><button class="navbar-brand btn btn-dark btn-lg">Назад</button></a>
        <div class="dropdown" style="margin-left: 20px; margin-top: 30px">
            <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button"
               id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Классы
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for i in classes %}
                        <li><a class="dropdown-item" href={{i[1]}}>{{i[0]}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <a href="/homework"><button class="navbar-brand btn btn-dark btn-lg">Назад</button></a>
        <p><a href={{class_id}}>
            <button class="btn btn-dark btn-lg"
                    style="margin-left: 20px; margin-top: 20px; width: 210px;">Добавить задание</button>
            </a>
        </p>
        {% if not homeworks_dict %}
            <h3 style="margin-top: 30px; margin-left: 100px">Список домашних заданий пуст!</h3>
        {% endif %}
        {% for i in homeworks_dict %}
            <div class="add_hw">
                <p><h3 style="margin-left: 20px; margin-top: 20px">Домашнее задание на {{i["date"]}}</h3></p>
                <p><h6 style="margin-left: 20px; margin-top: 20px">{{i["text"]}}</h6></p>
                <p>
                    <a href={{i["href"]}}>
                        <button class="btn btn-dark" style="margin-left: 20px; margin-top: 20px">Редактировать</button>
                    </a>
                </p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}