{% extends "main_page.html" %}


{% block content %}

    <a href="/main_page"><button class="navbar-brand btn btn-dark">Назад</button></a>
    {% if choice %}
        <div class="dropdown" style="margin-left: 20px; margin-top: 30px">
            <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button"
               id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Классы
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for i in classes %}
                    <li><a class="dropdown-item" href={{i[1]}}>{{i[0]}}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <form action="" method="post" novalidate class="row g-3 add_hw">
            {{form.hidden_tag()}}
            <h3>Укажите количество вопросов для теста</h3>
            <div class="form-floating">
                {% if form.kolvo.errors %}
                    {{form.kolvo(class="form-control alert alert-danger", placeholder="Иванов", role="alert")}}
                {%else%}
                    {{form.kolvo(class="form-control alert alert-dark", placeholder="Иванов", role="alert")}}
                {%endif%}
                {{form.submit(class="btn btn-dark", style="margin-bottom: 10px; width: 100px")}}
            </div>
        </form>
    {% endif  %}

{% endblock %}